{
  "extends": ["airbnb", "plugin:react/recommended", "prettier", "react-app"],

  "plugins": ["prettier"],

  "env": {
    "browser": true,
    "es6": true,
  },

  "rules": {
    "jsx-a11y/label-has-for": [
      2,
      {
        "components": ["Label"],
        "required": {
          "some": ["nesting", "id"],
        },
        "allowChildren": false,
        "react/jsx-filename-extension": [
          "error",
          { "extensions": [".js", ".jsx"] },
        ],
      },
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "ignoreFilesWithoutCode": true,
      },
    ],
  },
}
