{
  "extends": ["airbnb", "plugin:react/recommended", "prettier"],

  "plugins": ["prettier"],

  "env": {
    "browser": true,
    "es6": true,
  },

  "rules": {
      "react/jsx-filename-extension": [ 1, { 
        "ignoreFilesWithoutCode": true }],
        "jsx-a11y/label-has-for": [ 2, {
            "components": [ "Label" ],
            "required": {
                "some": [ "nesting", "id" ]
            },
            "allowChildren": false
        }],
  },
}
