{
  "extends": [
    "airbnb",
    "plugin:react/recommended",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],

  "env": {
    "browser": true,
    "es6":true
  },
"rules": {
    "react/jsx-filename-extension": ["warn", { "extensions": [".js", ".jsx"] }]
  }
}
